# ==========================
# GLOBAL / OS FILES
# ==========================
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
.env
.env.local

# ==========================
# PYTHON
# ==========================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
